<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>中国梦想游-会员登录页</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="css/common.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
    <script type="text/javascript">
        //修改密码
        function changePassword() {

            var password=$("#password").val();
            var newPassword=$("#newPassword").val();
            var checkPassword=$("#checkPassword").val();

            $.post("/user_changePassword",{"password":password,"newPassword":newPassword,"checkPassword":checkPassword},function (result) {
                if(result.code==200){
                    alert("密码更新成功，请重新登录!");
                    location.href="/user_tologin";
                }else{
                    //回显错误消息
                    $("#message").text(result.message);
                }
            },"json");
        }

    </script>
</head>
<body>

<!--引入公共head-->
<div th:replace="@{/commons/header}::head"></div>
<!--引入公共head-->

<div class="b_wrap">
    <div class="current"><span>当前所在地：</span><a th:href="@{/index}">首页</a> >> <a th:href="@{/useCenter}">会员中心</a></div>
    <div class="fmember">

        <!--用户菜单引用-->
        <div th:replace="@{/commons/usermenus}::menu"></div>

        <div class="fmright">
            <div class="fmr1">
                <div class="fmr1_top">修改密码</div>
                <div class="fmr1_m">
                    <div class="fcard">
                            <table border="0" cellpadding="0" cellspacing="0" width="636">
                                <tr>
                                    <td align="right" height="30">请输入账号当前的密码：</td>
                                    <td align="left" height="30"><input type="password" class="finput3" id="password"
                                                                        name="password" value="" placeholder="请输入当前密码"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" height="30">请输入要修改的密码：</td>
                                    <td align="left" height="30"><input type="password" class="finput3" id="newPassword"
                                                                        name="newPassword" value=""
                                                                        placeholder="请输入修改密码"/></td>
                                </tr>
                                <tr>
                                    <td align="right" height="30">请确认要修改的密码：</td>
                                    <td align="left" height="30"><input type="password" class="finput3" id="checkPassword"
                                                                        name="checkPassword" value=""
                                                                        placeholder="请输入确认密码"/></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center" valign="middle" height="50">
                                        <span style="color: red" id="message"></span>
                                        <button type="button" onclick="changePassword();">
                                            <input type="image" src="images/fbtn8.png"/>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="footer1">

</div>
<style>
    .footer1{

        height: 30px;

        width: 100%;

        background-color: #ddd;

        position: fixed;

        bottom: 0;

    }
</style>-->
<!--<div class="footer_w">
    <div class="footer clearfix">
        <div class="footer_c">
     <p>地址：哈佛大学 &nbsp;| &nbsp;服务热线：13559778312 &nbsp; | &nbsp;传真：13559778312  备案号：13559778312</p>
            <p> 中国梦想旅游发展有限公司 All Rights Reserved. 技术支持：<a href="#">哈佛大学</a></p>
        </div>
        <div class="f_logo"><img src="images/b_logo.jpg"/></div>
        <br style="clear:both"/>
    </div>
</div>-->
</body>
</html>
